.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 50px;
  transition: all 0.3s ease;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  padding-left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  padding-right: 20px;
  width: 30px;
  object-fit: contain;
}
